@using Git.Storage.Entity.Sys
@using Git.WMS.Web.Lib
@{
    List<SysResourceEntity> ListResult = ViewBag.ListResult;
}

<form class="form-horizontal">
    <div class="row-fluid">
        <div class="span1 ">
            <label class="checkbox inline">
                <strong>报表管理</strong>
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_2000") 模板管理
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3000") 新增模板
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3001") 保存模板
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3002") 模板设计
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3003") 模板预览
            </label>
        </div>
    </div>
    


    <div class="row-fluid">
        <div class="span1 ">
            <label class="checkbox inline">
                <strong>库存清单</strong>
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_2001") 库存清单
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3101") 查询库存清单
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3102") 导出库存清单
            </label>
        </div>
    </div>



    <div class="row-fluid">
        <div class="span1 ">
            <label class="checkbox inline">
                <strong>可出库存</strong>
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_2002") 可出库存
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3201") 查询可出库存
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3202") 导出可出库存
            </label>
        </div>
    </div>




    <div class="row-fluid">
        <div class="span1 ">
            <label class="checkbox inline">
                <strong>期初期末</strong>
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_2003") 期初期末
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3301") 查询期初期末
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3302") 导出Excel
            </label>
        </div>
    </div>




    <div class="row-fluid">
        <div class="span1 ">
            <label class="checkbox inline">
                <strong>库存台账</strong>
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_2004") 库存台账
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3401") 查询台账
            </label>
        </div>
        <div class="span2">
            <label class="checkbox inline">
                @Html.RoleCheckBox(ListResult, "Report_3302") 导出Excel
            </label>
        </div>
    </div>

</form>

<div class="form-actions">
    <button type="button" class="btn btn-primary" data-command="Save"><i class="icon-ok"></i> 保存</button>
    <button type="button" class="btn" data-command="Cancel">取消</button>
</div>
