@{
    Layout = null;
}
@using FastReport;
@using FastReport.Web;
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    @Html.Partial("_PageTitle")
    @WebReportGlobals.Styles()
    @WebReportGlobals.Scripts()
</head>
<body class="fixed-top">

    @Html.Partial("_Header")

    <div id="container" class="row-fluid @ViewBag.MenuStatus">
        @Html.Partial("_Sidebar")

        <div id="body">
            <div id="widget-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        @Html.Raw(ViewBag.NavMenu)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget box light-grey">
                            <div class="widget-title">
                                <h4><i class="icon-globe"></i>报表设计</h4>
                            </div>
                            <div class="widget-body">
                                @ViewBag.WebReport.GetHtml()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Foot")
    <script src="/Theme/customer/Report/Git.Framework.Report.Customer.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>